html{
    background-color: gray;
}

body{
    background-color: white;
    height: 800px;
    width: 800px;
    margin: 40px auto;
}
.box{
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 80px;
    color: orangered;

}
.box{
    height: 100px;
    width: 100px;
    float: left;
}
.black{
    background-color: black;
}