body{
    background-color: aqua;
   
    
}

div.str{
    text-align: center;
}
h3{
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    text-transform: u;
}
ul li:nth-child(3){
    color: orangered;
}




